@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

@import url("../fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Host Grotesk";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p,
a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 450;
}

nav,
.hero-footer {
  position: absolute;
  left: 0;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav-items {
  display: flex;
  gap: 4rem;
}

.nav-items p {
  cursor: pointer;
  mix-blend-mode: normal;
  transition: mix-blend-mode ease-in-out 0.2s;
}

.nav-items p:hover {
  mix-blend-mode: difference;
}

.nav-items a {
  mix-blend-mode: normal;
  transition: mix-blend-mode ease-in-out 0.2s;
}

.nav-items a:hover {
  mix-blend-mode: difference;
}

.nav-items a,
.contact a {
  text-decoration: none;
  color: white;
}

nav .logo p {
  font-size: 20px;
  font-weight: 700;
}

.hero-footer {
  bottom: 0;
}

.hero-footer a {
  text-decoration: none;
  color: white;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.hero-logo,
.contact,
.info {
  font-family: "Host Grotesk" !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
}
.p-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 440px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  opacity: 0;
  visibility: hidden;
}

.phone-insta {
  display: flex;
  justify-content: space-between;
}

.mail-hero-contact {
  font-size: 3rem;
}

.hero-logo p {
  font-size: 120px;
}

.gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dn {
  display: none !important;
}

.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

@media (max-width: 1000px) {
  nav {
    flex-direction: column;
    gap: 2rem;
  }
}
