@import url("./reset.css");
@import url("../fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

body {
  overflow-x: hidden;
  background-color: black;
  font-family: "Host Grotesk";
}

.nv {
  visibility: hidden;
}

header {
  display: flex;
  justify-content: space-between;
}

header a {
  color: white;
  font-family: "Host Grotesk";
  font-size: 1.2rem;
}

#header-motion {
  background-color: black;
  padding: 2rem;
}

.header-motion-container {
  max-width: max-content;
  color: white;
  display: flex;
  gap: 250px;
  font-family: "Host Grotesk";
  font-size: 1.2rem;
}

.header-motion-container li {
  cursor: pointer;
}

.header-motion-container li a {
  text-decoration: none;
  color: white;
}

.gallery-motion {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
}

.gallery-wrapper {
  background-color: transparent;
  color: white;
  padding: 0px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 32px;
  justify-content: center;
  transform: scaleY(1);
}

.gallery-wrapper-others {
  background-color: transparent;
  color: white;
  padding: 0px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 32px;
  justify-content: center;
  transform: scaleY(1);
}

.gallery-item {
  position: relative;
  height: 100%;
  max-height: 500px;
  min-height: 100%;
  display: flex;
  align-content: center;
}

.video-gallery {
  max-width: 100%;
  height: auto;
  transition: all 0.5s cubic-bezier(0.34, 0.15, 0.18, 1);
  overflow: hidden;
}

.hover-overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  font-family: "Arial";
  font-size: 22px;
  color: white;
  mix-blend-mode: difference;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.5s ease;
}

.hover-overlay.animate {
  opacity: 1;
  transform: translateX(0);
}

.header-selected {
  text-decoration: underline;
}

.footer-motion {
  max-width: 100dvw;
  margin-top: 100px;
  padding: 30px 30px;
  border-top: 1px solid white;
  display: flex;
  justify-content: end;
}

.footer-motion a {
  color: white;
  font-family: "Arial";
  font-size: 22px;
  text-decoration: none;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

/* Classe que aplica a animação */
.animate-grow {
  animation: growDown 0.5s ease forwards;
  transform-origin: top;
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .gallery-wrapper-others,
  .gallery-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .header-motion-container {
    gap: 20px;
    font-size: 18px;
  }

  .gallery-wrapper-others,
  .gallery-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* @media (min-width: 768px) {
  video::-webkit-media-controls {
    display: none !important;
  }
  video::-webkit-media-controls-enclosure {
    display: none !important;
  }
} */
